*.Rdata
*.RData
*.Rda
*.rda
*.Rhistory
*.docx
*.DS_Store
*.xlsx
*.pptx
*.Rapp.history

*.log
*.aux
*.blg
*.synctex.gz
*.out 
*.lua
*.yml
*.fls
*.fdb_latexmk

/archive
/analysis/mountrainier/archive

# Quarto Detritus
*_files
*_cache

# Mac Detritus
*.DS_Store

analysis/mountrainier/climate/era5land/bcookenv
analysis/mountrainier/data/climate/era5land
analysis/mountrainier/data/climate/wldas

analysis/pnwandmore/output/model
analysis/pnwandmore/output/climate/rasters
analysis/pnwandmore/output/climate/species_gddrange_experienced.rds
analysis/pnwandmore/data/srtm
analysis/pnwandmore/data/ustreeatlas
analysis/pnwandmore/data/climate

analysis/pnwandmore/model/genouest

docs/reports/examples/
/notposting


